<header class="navbar">
  <a href="/" class="logo">
    <i class="fas fa-cut"></i>
    BarberApp
  </a>

  <% if (user && user.isAdmin) { %>
      <div class="nav-links">
        <% if (user.isAdmin) { %>
          <a href="/admin" class="btn btn-admin">
            <i class="fas fa-lock"></i> <span>Admin</span>
          </a>
        <% } %>
        <a href="/book" class="btn">
          <i class="fas fa-calendar-plus"></i> <span>Prenota</span>
        </a>
        <a href="/logout" class="btn">
          <i class="fas fa-sign-out-alt"></i> <span>Logout</span>
        </a>
      </div>
    <% } %>
</header>