<header class="navbar">
  <a href="/" class="logo">
    <i class="fas fa-cut"></i>
    BarberApp
  </a>

  <% if (user) { %>
    <div class="nav-links">
      <% if (user.isAdmin) { %>
        <a href="/admin" class="btn btn-admin">
          <i class="fas fa-lock"></i> Admin
        </a>
      <% } %>
      <a href="/book" class="btn">
        <i class="fas fa-calendar-plus"></i> Prenota
      </a>
      <a href="/logout" class="btn">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
  <% } %>
</header>