<!DOCTYPE html>
<html>
<head>
    <title>Registrazione</title>
    
    <%- include('head') %> 
</head>
<body>
    <header class="navbar">
      <a href="/" class="logo">
        <i class="fas fa-cut"></i>
        BarberApp
      </a>
    </header>
    <div class="container">
        <h1>Registrazione</h1>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <form action="/register" method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="btn">Registrati</button>
        </form>
        <p>Hai già un account? <a href="/login">Accedi qui</a></p>
    </div>
</body>
</html>